/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
:root {
  font-size: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
}
.container p {
  font-size: 2rem;
}
.container h1 {
  font-size: 6rem;
  margin: 2rem;
}
.container h3 {
  font-size: 3rem;
}
.container navbar {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  padding: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .container navbar {
    flex-direction: column;
    align-items: center;
  }
}
.container navbar a {
  font-size: 3rem;
  text-decoration: none;
  color: darkgrey;
}
@media (max-width: 800px) {
  .container navbar a {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .container navbar a {
    font-size: 2rem;
    text-align: center;
    width: 100vw;
    padding: 1rem;
    border-bottom: 0.01rem solid black;
  }
}
.container .main-content-row {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .container .main-content-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.container .main-content-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #e3e3e3;
}
.container .main-content-head .jumbo-image img {
  width: 33vw;
  margin: 2rem;
}
@media (max-width: 800px) {
  .container .main-content-head .jumbo-image img {
    width: 66vw;
  }
}
@media (max-width: 500px) {
  .container .main-content-head .jumbo-image img {
    width: 90vw;
  }
}
.container .main-content-head h3 {
  border-bottom: 0.1rem solid black;
}
.container .main-content-head button {
  margin: 2rem;
  width: 33vw;
  height: 5rem;
  font-size: 2rem;
  border: none;
  background-color: #91b2bd;
  color: white;
}
.container .main-content-head button:hover {
  background-color: #849499;
  cursor: pointer;
}
.container .main-content-body {
  margin: 2rem;
}
.container .main-content-body article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  margin: 2rem;
  padding: 3rem;
  border: 0.1rem solid black;
}
.container .main-content-body article:hover {
  background-color: #cbe8f1;
}
.container .main-content-body article h3,
.container .main-content-body article p {
  padding: 1rem;
}
@media (max-width: 800px) {
  .container .main-content-body article {
    width: 66vw;
  }
}
@media (max-width: 500px) {
  .container .main-content-body article {
    width: 100vw;
    border: none;
  }
}
.container .main-content-work-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .main-content-work-history table {
  width: 66vw;
  border: 0.1rem solid black;
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}
.container .main-content-work-history table th {
  font-weight: bold;
  padding: 2rem;
}
.container .main-content-work-history table td {
  padding: 2rem;
}
.container .main-content-work-history table:hover {
  background-color: #cbe8f1;
}
.container footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #91b2bd;
  width: 100vw;
  padding: 2rem;
  text-align: center;
}
.container footer img {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  margin: 1rem;
}
