// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

//My Less Styles
:root {
	font-size: 10px;
}

//font-size variables
@desktopNavFontSize : 3rem;
@tabletNavFontSize : 2.5rem;
@mobileNavFontSize : 2rem;

@desktopJumboFontSize : 6rem;

@desktopH3FontSize : 3rem;

@desktopButtonFontSize: 2rem;

@desktopStandardFontSize: 2rem;

//breakpoints
@tabletBreakpoint: 800px;
@mobileBreakpoint: 500px;

//color variables
@navLinkFontColor : darkgrey;
@footerBGColor: rgb(145,178,189);
@mainContentHover: rgb(203,232,241);


//mixins
.flexColumn() {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.borderBottom() {
	border-bottom: 0.1rem solid black;
}

.container {
	.flexColumn();
	width: 100vw;
	margin: 0 auto;

	p {
		font-size: @desktopStandardFontSize;
	}
	h1 {
		font-size: @desktopJumboFontSize;
		margin: 2rem;
	}
	h3 {
		font-size: @desktopH3FontSize;
	}

	navbar {
		display: flex;
		justify-content: space-around;
		width: 100%;
		padding: 2rem;
		margin-bottom: 2rem;

		@media (max-width: @tabletBreakpoint) {
			width: 100vw;
		}
		@media (max-width: @mobileBreakpoint) {
			flex-direction: column;
			align-items: center;
		}

		a {
			font-size: @desktopNavFontSize;
			text-decoration: none;
			color: @navLinkFontColor;
			
			@media (max-width: @tabletBreakpoint) {
				font-size: @tabletNavFontSize;
			}
			@media (max-width: @mobileBreakpoint) {
				font-size: @mobileNavFontSize;
				text-align: center;
				width: 100%;
				padding: 1rem;
				border-bottom: 0.01rem solid black;
			}
		}
	}

	.main-content-row {
		display: flex;
		justify-content: space-around;
		@media(max-width: @tabletBreakpoint) {
			.flexColumn();
		}
	}

	.main-content-head {
		.flexColumn();
		width: 100%;
		background-color: rgba(227, 227, 227, 1);

			.jumbo-image img {
				width: 33vw;
				margin: 2rem;

				@media (max-width: @tabletBreakpoint) {
					width: 66vw;
				}
				@media (max-width: @mobileBreakpoint) {
					width: 90vw;
				}
			}
			h3 {
				.borderBottom();
			}
			button {
				margin: 2rem;
				width: 33vw;
				height: 5rem;
				font-size: @desktopButtonFontSize;
				border: none;
				background-color: rgb(145,178,189);
				color:white;
	
				&:hover {
					background-color: rgb(132,148,153);						;
					cursor: pointer;
				}
			}
			
	}

	.main-content-body {
		margin: 2rem;
			article {
				.flexColumn();
				width: 40vw;
				margin: 2rem;
				padding: 3rem;
				border: 0.1rem solid black;

					&:hover {
						background-color: @mainContentHover;
					}

					h3, p {
						padding: 1rem;
					}

					@media (max-width: @tabletBreakpoint) {
						width: 66vw;
					}
					@media (max-width: @mobileBreakpoint) {
						width: 100vw;
						border: none;
					}
			}
	}

	footer {
		.flexColumn();
		background-color: @footerBGColor;
		width: 100vw;
		padding: 2rem;

		img {
			width: 5rem;
			height:5rem;
			border-radius: 5rem;
			margin: 1rem;
		}

	}
}

